.DS_Store
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~

# opm index files
database
bundle_tmp*
index.Dockerfile

ibm-crossplane/*
bedrockshim
