apiVersion: v1
kind: Namespace
metadata:
  name: ibm-crossplane-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: ibm-crossplane
    app.kubernetes.io/managed-by: ibm-crossplane-operator
    app.kubernetes.io/name: ibm-crossplane-operator
    name: ibm-crossplane-operator
  name: ibm-crossplane-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: ibm-crossplane
      app.kubernetes.io/managed-by: ibm-crossplane-operator
      app.kubernetes.io/name: ibm-crossplane-operator
      name: ibm-crossplane-operator
  template:
    metadata:
      annotations:
        productID: 068a62892a1e4db39641342e592daa25
        productMetric: FREE
        productName: IBM Cloud Platform Common Services
      labels:
        app.kubernetes.io/instance: ibm-crossplane
        app.kubernetes.io/managed-by: ibm-crossplane-operator
        app.kubernetes.io/name: ibm-crossplane-operator
        name: ibm-crossplane-operator
    spec:
      containers:
      - args:
        - "--enable-leader-election"
        - "--leader-election-id=ibm-crossplane-operator"
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: IBM_CROSSPLANE_IMAGE
          value: "quay.io/opencloudio/ibm-crossplane:1.0.0"
        image: "quay.io/opencloudio/ibm-crossplane-operator:latest"
        imagePullPolicy: Always
        name: ibm-crossplane-operator
        resources:
          limits:
            cpu: 50m
            memory: 256Mi
          requests:
            cpu: 20m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
      serviceAccountName: ibm-crossplane-operator